.input-field-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;

	label {
		cursor: pointer;
		width: max-content;
	}

	input {
		padding: 15px;
		font-size: 0.9em;

		&:invalid[focused='true'] ~ span {
			display: block;
		}

		&:invalid[focused='true'] {
			border: 1px solid red;
		}
	}

	span {
		color: red;
		font-size: 0.8em;
		display: none;
	}
}
